force-app/main/default/flows/Product_Refresh_Platform_Cache.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Cache_Jobs</name>
        <label>Run Cache Jobs</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>RefreshPlatformCache</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>getPriceBook.vlocity_cmt__PriceListId__r.vlocity_cmt__Pricebook2Id__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Product Refresh Platform Cache {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Refresh Platform Cache</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getPriceBook</name>
        <label>getPLE</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPriceBookId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__ProductId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_cmt__PriceListEntry__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>vlocity_cmt__PriceListId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPriceBookId</name>
        <label>getPriceBookId</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_List_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPriceBook.vlocity_cmt__PriceListId__r.vlocity_cmt__Pricebook2Id__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_cmt__PriceList__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Price_List_Selection</name>
        <label>Price List Selection</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Cache_Jobs</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;Run the following CPQ jobs for {!getPriceBook.vlocity_cmt__PriceListId__r.Name} with related pricebook id ({!getPriceBook.vlocity_cmt__PriceListId__r.vlocity_cmt__Pricebook2Id__r.Id}):&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Product Hierarchy Maintenance&lt;/li&gt;&lt;li&gt;Clear Managed Platform Cache&lt;/li&gt;&lt;li&gt;Refresh Platform Cache&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Here is reference to the &lt;a href=&quot;https://help.salesforce.com/s/articleView?id=ind.energy_product_hierarchy_maintenance.htm&amp;amp;type=5&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;docs&lt;/a&gt; describing this job.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPriceBook</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
