force-app/main/default/flows/Refresh_Platform_Cache.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Cache_Jobs</name>
        <label>Run Cache Jobs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>RefreshPlatformCache</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Price_Lists</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <dynamicChoiceSets>
        <name>PriceListChoiceResource</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>vlocity_cmt__PriceList__c</object>
        <valueField>vlocity_cmt__Pricebook2Id__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Refresh Platform Cache {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refresh Platform Cache</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Price_List_Selection</name>
        <label>Price List Selection</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Cache_Jobs</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;Select a price list to run the following CPQ jobs for:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Product Hierarchy Maintenance&lt;/li&gt;&lt;li&gt;Clear Managed Platform Cache&lt;/li&gt;&lt;li&gt;Refresh Platform Cache&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Here is reference to the &lt;a href=&quot;https://help.salesforce.com/s/articleView?id=ind.energy_product_hierarchy_maintenance.htm&amp;amp;type=5&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;docs&lt;/a&gt; describing this job.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Price_Lists</name>
            <choiceReferences>PriceListChoiceResource</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Price Lists</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Price_List_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
